.table-section {
    @include flexbox(row, center, center);
    padding: $xsmall;
    margin-bottom: 1rem;
    
    &__table {
        width: 100%;
        @include flexbox(column, flex-start, flex-start);
        
        &__head-row {
            @include hnw(3rem, 100%);            
            @include flexbox(row, center, center);
            background-color: $theme-color-l1;
            color: $theme-color-l5;
            font-weight: bold;

            &__task {
                @include flexbox(row, center, center);
                height: 100%;
                flex: 3;
            }
            &__date {
                @include flexbox(row, center, center);
                width: 100%;
                flex: 1;
            }
            &__remove {
                @include flexbox(row, center, center);
                flex: 1;
                height: 100%;
                border-right: none;
                background-color: $theme-color;
                &:hover {
                    cursor: pointer;
                    color: #000;
                    background-color: $theme-color-d1;
                }
            }
        }

        &__task-row {
            @include hnw(3rem, 100%);
            @include flexbox(row, center, center);
            flex: 1;
            background-color: $theme-color-l4;

            &__task {
                @include hnw(100%, 100%);
                @include flexbox(row, center, center);   
                flex: 3;
                border-right: 1px solid $theme-color-l1;
            }

            &__date {
                @include hnw(100%, 100%);
                @include flexbox(row, center, center);   
                flex: 1;
                border-right: 1px solid $theme-color-l1;
            }

            &__remove {
                @include hnw(100%, 100%);
                @include flexbox(row, center, center);   
                flex: 1;
                border-right: 1px solid $theme-color-l1;
                &:hover {
                    cursor: pointer;
                    background-color: $theme-color-l3;
                }
                &:hover &__button {
                    cursor: pointer;
                    color: #FFF;
                }
                &__button {
                    @include hnw(100%, 100%);
                    padding: 0;
                    background-color: transparent;
                    border: none;
                    font-weight: bold;

                }
            }
        }
    }
}