.table-section {
    display: flex;
    justify-content: center;
    padding: 0 0.5rem;
    
    &__table {
        width: 100%;
        display: flex;
        flex-flow: column;
        font-size: 1rem;
        
        &__head-row {
            display: flex;
            align-items: center;            

            background-color: #d05e31 ;
            color: #fbf3f0;
            height: 3rem;
            
            font-weight: bold;

            &__task {
                flex: 1;
                
                display: flex;
                justify-content: center;
                align-items: center;
                
                height: 100%;
            }
            &__date {
                flex: 2;
                
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                
            }
            &__remove {
                flex: 1;
                
                display: flex;
                justify-content: center;
                align-items: center;
                
                height: 100%;
                border-right: none;
                background-color: #9e4624;

                &:hover {
                    cursor: pointer;
                }
            }
        }

        &__task-row {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;    
            background-color: #dc8664;        

            height: 3rem;
            border-top: none;
            border-left: none;
            border-right: none;

            &__task {
                flex: 1;

                display: flex;
                justify-content: center;
                align-content: center;
            }

            &__date {
                flex: 2;

                display: flex;
                justify-content: center;
                align-content: center;
            }

            &__remove {
                flex: 1;

                display: flex;
                justify-content: center;
                align-content: center;

                height: 100%;
                width: 100%;
                background-color: #dc8664;    


                
                &__button {
                    width: 100%;
                    padding: 0;

                    background-color: transparent;
                    border: none;
                    
                    font-weight: bold;
                }
            }
        }
    }
}