/***** Colors *****/

$theme-color: #9e9e2e;

// Lightened
$theme-color-l1: lighten($theme-color, 10%);
$theme-color-l2: lighten($theme-color, 30%);
$theme-color-l3: lighten($theme-color, 50%);
$theme-color-l4: lighten($theme-color, 70%);
$theme-color-l5: lighten($theme-color, 90%);

// Darkened
$theme-color-d1: darken($theme-color, 10%);
$theme-color-d2: darken($theme-color, 30%);
$theme-color-d3: darken($theme-color, 50%);
$theme-color-d4: darken($theme-color, 70%);
$theme-color-d5: darken($theme-color, 90%);