/***** Colors *****/

$theme-color: #9e4624;

// Lightened
$theme-color-l1: #d05e31;
$theme-color-l2: #dc8664;
$theme-color-l3: #e8ae98;
$theme-color-l4: #f3d7cb;
$theme-color-l5: #fbf3f0;

// Darkened
$theme-color-d1: #8e3f20;
$theme-color-d2: #7e381d;
$theme-color-d3: #6f3119;
$theme-color-d4: #5f2a16;
$theme-color-d5: #4f2312;