// Colors

$theme1: #e9f5ff;
$theme2: #b5dffd;
$theme3: #6bc0fc;
$theme4: #21a0fa;
$theme5: #0479cc;
$theme6: #034f84;
$theme7: #024575;
$theme8: #023e68;
$theme9: #02365b;
$theme10: #022e4e;
$theme11: #012641;