.title {
    background-color: rgb(249, 113, 0);
    height: 5rem;
    border-bottom: .1rem solid black;

    &__wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        font-weight: bold;
        letter-spacing: 0.2rem;
        
        &__text {
            color: #FFF;
        }
    }
}