.title {
    background-color: $theme6;
    height: 5rem;
    &__wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        font-weight: bold;
        letter-spacing: 0.2rem;
        &__text {
            color: #FFF;
        }
    }
}