html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background-color: #02365b; }

.title {
  background-color: #034f84;
  height: 5rem; }
  .title__wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 0.2rem; }
    .title__wrapper__text {
      color: #FFF; }

.create-task {
  width: 100%;
  height: 2.5rem;
  background-color: #02365b; }
  .create-task__wrapper {
    width: 100%;
    height: 100%; }
    .create-task__wrapper__form {
      display: flex;
      justify-content: center;
      width: 100%;
      height: 100%; }
      .create-task__wrapper__form__input {
        flex: 3;
        border: black solid .1rem;
        border-left: none;
        border-right: none;
        color: #FFF;
        font-size: 1rem;
        font-weight: bold;
        letter-spacing: .05rem;
        background-color: #02365b;
        padding-left: 1rem; }
        .create-task__wrapper__form__input::placeholder {
          color: #FFF;
          opacity: .5; }
      .create-task__wrapper__form__submit {
        flex: 1;
        background-color: #012641;
        color: #FFF;
        border: black solid .1rem;
        font-weight: bold;
        font-size: 1rem;
        letter-spacing: 0.05rem; }

.table-section {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #012641; }
  .table-section__table {
    width: 100%;
    display: flex;
    flex-flow: column; }
    .table-section__table__head-row {
      height: 3rem;
      font-weight: bold;
      display: flex;
      align-items: center;
      background-color: #012641;
      color: #fff;
      border: .1rem solid #000;
      border-top: none;
      border-left: none;
      border-right: none; }
      .table-section__table__head-row__task {
        flex: 1;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center; }
      .table-section__table__head-row__date {
        flex: 2;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center; }
      .table-section__table__head-row__remove {
        flex: 1;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center; }
    .table-section__table__task-row {
      height: 3rem;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #023e68;
      color: #fff;
      border-top: none;
      border-left: none;
      border-right: none; }
      .table-section__table__task-row__task {
        flex: 1;
        display: flex;
        justify-content: center;
        align-content: center;
        border-right: .1rem solid #000; }
      .table-section__table__task-row__date {
        flex: 2;
        display: flex;
        justify-content: center;
        align-content: center;
        border-right: .1rem solid #000; }
      .table-section__table__task-row__remove {
        flex: 1;
        display: flex;
        justify-content: center;
        align-content: center;
        height: 100%;
        width: 100%; }
        .table-section__table__task-row__remove__button {
          width: 100%;
          color: white;
          font-weight: bold;
          border: none;
          background-color: #023e68; }

/*# sourceMappingURL=main.css.map */
